<nav class="w3-bar w3-teal">
    <a href="/" class="w3-bar-item">
        HOME
    </a>
    <a href="/about" class="w3-bar-item">
        ABOUT
    </a>
    <a href="/contacts" class="w3-bar-item">
        CONTACTS
    </a>
</nav>

